# Config is for an Antithesis Aether MK1.1 with a BTT Manta M5P and CB2 #

[include mainsail.cfg]
#[include MAISA.cfg]
#[include ADXL345.cfg]



[mcu]
serial: /dev/serial/by-id/usb-Klipper



[printer]
kinematics: corexy
max_velocity: 500
max_accel: 20000
minimum_cruise_ratio: 0.5
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 5



[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
endstop_pin: tmc2209_stepper_x:virtual_endstop
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 400
position_endstop: -2.5
position_min: -2.5
position_max: 130
homing_retract_dist: 0
homing_speed: 40

[tmc2209 stepper_x]
uart_pin: PC13
diag_pin: ^PF4
driver_SGTHRS: 120
sense_resistor: 0.110
run_current: 1.1
interpolate: False
stealthchop_threshold: 0



[stepper_y]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
endstop_pin: tmc2209_stepper_y:virtual_endstop
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 400
position_endstop: -5
position_min: -5
position_max: 100
homing_retract_dist: 0
homing_speed: 40

[tmc2209 stepper_y]
uart_pin: PE3
diag_pin: ^PF3
driver_SGTHRS: 110
sense_resistor: 0.110
run_current: 1.1
interpolate: False
stealthchop_threshold: 0



[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
endstop_pin: probe:z_virtual_endstop
microsteps: 32
rotation_distance: 4
full_steps_per_rotation: 200
position_min: -1
position_max: 115.5
homing_retract_dist: 5
homing_speed: 25
second_homing_speed: 2.5

[tmc2209 stepper_z]
uart_pin: PB9
#diag_pin: PC3
sense_resistor: 0.110
run_current: 1.0
interpolate: False
stealthchop_threshold: 0



[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
heater_pin: PA0
sensor_pin: PB0
sensor_type: ATC Semitec 104GT-2
control: pid
pid_Kp: 48.881
pid_Ki: 18.104
pid_Kd: 32.995
min_temp: 15
max_temp: 280
microsteps: 64
rotation_distance: 47.088
gear_ratio: 9:1
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_cross_section: 100
max_extrude_only_velocity: 120
pressure_advance: 0.04
pressure_advance_smooth_time: 0.03

[tmc2209 extruder]
uart_pin: PB5
#diag_pin: PC2
sense_resistor: 0.110
run_current: 0.7
interpolate: True
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4



[heater_bed]
heater_pin: PF5
sensor_pin: PB1
sensor_type: Generic 3950
control: pid
pid_Kp: 56.859 
pid_Ki: 1.934 
pid_Kd: 417.914
min_temp: 15
max_temp: 115



[bltouch]
sensor_pin: PD13
control_pin: PD12
pin_move_time: 0.7
x_offset: 0
y_offset: 25
z_offset: 2.20
speed: 5
lift_speed: 20
stow_on_each_sample: False



[bed_mesh]
speed: 250
horizontal_move_z: 5.0
mesh_min: 2.5, 21
mesh_max: 127.5, 97.5
probe_count: 5, 3
fade_start: 1.0
fade_end: 5.0



[multi_pin fan]
pins: PF7, PF9

[fan]
pin: multi_pin:fan
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.01
kick_start_time: 0.1
off_below: 0.10



[heater_fan heatbreak_cooling_fan]
pin: PF6
max_power:1.0
shutdown_speed: 1.0
heater: extruder
heater_temp: 50
fan_speed: 1.0



[controller_fan mcu_fan]
pin: PF8
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.01
kick_start_time: 0.1
off_below: 0.15



[homing_override]
axes: xyz
set_position_z: 0
gcode:   
    {% set HOME_ACC = 1000 %}   
    {% set CONFIG_ACC = printer.configfile.settings['printer'] %}
    {% set NORMAL_ACC = CONFIG_ACC.max_accel %}
    SET_VELOCITY_LIMIT ACCEL={HOME_ACC}
    SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=1
    G4 P2000
    G90
    G0 Z4 F900
    {% set HOME_CUR = 0.5 %}
    {% set CONFIG_CURX = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set NORMAL_CURX = CONFIG_CURX.run_current %}
    {% set CONFIG_CURY = printer.configfile.settings['tmc2209 stepper_y'] %}
    {% set NORMAL_CURY = CONFIG_CURY.run_current %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
    G4 P2000
    G28 Y0
    G90
    G1 Y0 F1200
    G4 P2000
    G28 X0
    G90
    G1 X0 F1200
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={NORMAL_CURY}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={NORMAL_CURY}
    G4 P1000
    G0 X65 Y25 F6000
    G28 Z0
    G0 Z10 F900
    SET_VELOCITY_LIMIT ACCEL={NORMAL_ACC}



[input_shaper]
shaper_type_x = ei
shaper_freq_x = 65.0
shaper_type_y = ei
shaper_freq_y = 57.0



[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; #use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 65.0   ; #custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 100.0   ; #custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; #custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; #the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; #the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; #retract speed in mm/s
variable_unretract        : 1.0   ; #the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; #unretract speed in mm/s
variable_speed_hop        : 15.0  ; #z move speed in mm/s
variable_speed_move       : 100.0 ; #move speed in mm/s
variable_park_at_cancel   : True ; #allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; #different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; #different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; #use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; #time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
gcode:

[include moonraker_obico_macros.cfg]

